@page "/familyOverview"


<link rel="stylesheet" type="text/css" href="css/AddMembers/styleMain.css">

<div class="jumbotron text-center">
  <h1>Manage the family members</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-4-lg">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="css/FamilyOverview/adultsIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Adults</h5>
                    <p class="card-text">
                      Here you will have an overview of the adults</p>
                    <a href="adultsOverview" class="btn btn-primary">Display</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="css/FamilyOverview/childrenIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Children</h5>
                    <p class="card-text">
                        Here you will have an overview of the children</p>
                    <a href="#" class="btn btn-primary">Display...</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="Images/spring-tree-flowers-meadow-60006.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Features</h5>
                    <p class="card-text">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <a href="#" class="btn btn-primary">Display...</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {


}