@page "/membersOverview"
@page "/jghffghjjgh"

<link rel="stylesheet" type="text/css" href="css/AddMembers/styleMain.css">

<div class="jumbotron text-center">
  <h1>Manage family members</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-4-lg">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="css/FamilyOverview/adultsIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Adults</h5>
                    <p class="card-text">
                      Here you will have an overview of the adults</p>
                    <a href="adultsOverview" class="btn btn-primary">Display</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="css/FamilyOverview/childrenIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Children</h5>
                    <p class="card-text">
                        Here you will have an overview of the children</p>
                    <a href="childrenOverview" class="btn btn-primary">Display...</a>
                </div>
            </div>
        </div>
        <div class="col-4-lg ml-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="css/FamilyOverview/petIcon.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pets</h5>
                    <p class="card-text">
                      Here you will have an overview of the pets</p>
                    <a href="petsOverview" class="btn btn-primary">Display...</a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {


}